@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  margin: 0 auto;
  font-family: "Josefin Slab", serif;
  min-height: 100vh;
}

#menu {
  width: 100%;
  height: 50px;
  background-color: rgb(222, 223, 224, 0.5)
}

.nav {
  float: right;
  padding-right: 10px;
}
.fa {
  padding: 10px;
}

.navigation {
  padding: 5px;
  width: 150px;
  height: 50px;
  color: #27192d;
  border: none;
  background: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Josefin Slab", serif;
}

.navigation:hover {
  color: #ffffff;
  }

.navigation:active {
  text-decoration: underline overline;
}

.navigation:focus {
  outline: none;
}

.info {
  width: 100%;
  display: grid;
}

.logo {
  float: left;
  padding: 5px;
  width:75px;
  height: 50px;
}
.logo:hover {
  opacity: 0.6;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Images/20.jpg');
  background-size: cover;
}

.col-1,
.col-2,
.col-3,
.col-4
 {
width:100%;
}

.col-1 {
  padding-top: 280px;
}

.col-3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
/*--------------button view work---------*/

.myWork {
  background-color: rgb(54, 54, 56,0.3);
  text-decoration: none;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
  margin: 70px;
  border: 2px solid white;
}

.myWork:hover {
      animation: nudge .4s linear;
      color: #c3c3db;
      opacity: 0.8;
    }

a {
  color: inherit;
}

a:focus {
  outline: none;
}

.fa-angle-double-right {
  padding: 5px;
}
/*--------------hello text--------*/

.header {
  font-size: calc(22px + 4vmin);
  margin: 0;
  font-family: "Josefin Slab", serif;
  color: white;
  text-shadow: 2px 2px #2f094c;
}

.subheader {
  font-size: calc(16px + 2vmin);
  margin: 0;
  font-family: "Josefin Slab", serif;
  color: white;
  text-shadow: 2px 2px #2f094c;
}
/*--------------footer---------*/

#footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid black;
  background-color: #27192d;
}

#footer-text {
  font-size: 22px;
  padding: 15px 10px 5px 20px;
  line-height: 1.5;
}

.name {
  margin : 5px;
  padding: 5px 5px 0 0;
  color: #ffff;
}

/*--------------About Me---------*/

.aboutMe {
  display: table;
  color: black;
}

.about {
  padding: 5px;
}

.box1 {
  vertical-align: middle;
  text-align: justify;
  padding:  20px;
  font-size: 24px;
  z-index: 1;
  position: relative;
}

.box2 {
  margin-top: -50px;
  padding-left: 5%;
  position: relative;
  z-index: 2;
  float: right;
}

.anna {
  border-radius: 50%;
  width: 150px;
  box-shadow: 5px 5px 5px #27192d;
  margin: 10px;
}

.title2 {
  padding: 30px 30px 30px 0px;
}

.list {
  padding: 5px;
}
.list-item {
  padding: 5px;
  list-style-type: circle;
  margin-left: 25px;
}
/*--------------My Work---------*/

.container2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  width: 100%;
}
.featuredWork {
  font-size: calc(22px + 3vmin);
  color: black;
  padding: 20px;
}

.box {
  width: 45%;
  min-height: 150px;
  padding: 20px;
  margin: 20px;
}

.projects {
  width: 400px;
  box-shadow: 10px 10px 5px grey;
}

.projectNames {
  color: black;
  text-align: center;
  font-size: calc(14px + 2vmin);
  padding: 15px;
}

.projectNames:hover {
  color: #a3a375;
}

a {
    text-decoration: none !important;
  }

.theRunner
.matchingGame
.plovdiv
.pam
.myReads
.snail {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height:30%;
}

/*--------------Contact---------*/

.contact {
  font-size: calc(10px + 4vmin);
  margin: 20px;
}
.social {
  margin: 10px;
}
.social:hover {
  animation: nudge .4s linear;
  opacity: 0.5;
}


/*--------------Animation---------*/

@keyframes nudge {

  0% {
    transform: rotate(-5deg);
  }

  33% {
    transform: rotate(5deg);
  }

  66% {
    transform: rotate(-5deg);
  }
}

/*--------------Responsive---------*/

@media screen and (max-width: 570px) {

  .home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Images/2322.jpg');
  }

  .header {
  padding: 50px 10px 5px 10px;
  font-size: 38px;
}

.myWork {
  padding: 15px 22px;
  margin: 50px;
}
  .anna {
    display: block;
    border-radius: 50%;
    width: 90px;
    box-shadow: 5px 5px 5px #c0c3c6;
    margin: 10px;
  }
  .navigation {
    width: 120px;
  }

  .logo {
    width: 65px;
    height: 48px;
  }
  #footer-text {
    font-size: 16px;
    padding: 10px 10px 5px 10px;
    line-height: 1;
    }
    .social {
      margin: 5px;
    }

    .box {
      width: 100%;
      padding: 5px;
      margin: 5px;
    }

    .projects {
      width: 250px;
    }

    .col-1 {
      padding-top: 150px;
    }

    .subheader {
      font-size: 20px;
      padding: 10px;
    }
}

@media screen and (min-width: 571px) {
  .box {
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .projects {
    width: 250px;
    padding: 0px;
  }
}

@media screen and (min-width: 780px) {

  .box {
    width: 45%;
    min-height: 150px;
    padding: 20px;
    margin: 20px;
  }

  .projects {
    width: 400px;
    box-shadow: 10px 10px 5px grey;
  }
}
