@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  margin: 0 auto;
  font-family: "Josefin Slab", serif;
  min-height: 100vh;
}

#menu {
  width: 100%;
  height: 42px;
  background-color: rgb(204, 204, 204, 0.6);
  border-bottom: 2px solid rgb(210, 212, 214);

}

.nav {
  float: right;
  outline: none;
}
.fa {
  padding: 10px;
}

.navigation {
  list-style-type: none;
  display: inline-block;
  width: 150px;
  height: 40px;
  color: #27192d;
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Josefin Slab", serif;
  text-align: center;
  line-height: 40px;
}

.navigation:hover {
  color: rgb(115, 111, 111);
  }

.navigation:active {
  text-decoration: underline;
}

.navigation:focus {
  outline: none;
}

.nav-link {
  display: block;
}

.info {
  width: 100%;
  display: grid;
}

.logo {
  float: left;
  padding: 5px;
  width: 60px;
  height: 40px;
}
.logo:hover {
  opacity: 0.6;
}


.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Images/20.jpg');
  background-size: cover;
}

.col-1,
.col-2,
.col-3
 {
width:100%;
}

.col-1 {
  padding-top: 180px;
}

.col-2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  width: 100%;
  margin: auto;
}
/*--------------button view work---------*/

.work-btn {
  background-color: rgb(54, 54, 56,0.6);
  text-decoration: none;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
  margin: 70px;
  border: 2px solid white;
}

.work-btn:hover {
      animation: nudge .4s linear;
      color: #c3c3db;
      opacity: 0.8;
    }

.work-btn:focus {
  outline: 1px solid white;
}

a {
  color: inherit;
}

a:focus {
  outline: 0.5px solid rgb(115, 111, 111);
}

.fa-angle-double-right {
  padding: 5px;
}
/*--------------hello text--------*/

.header {
  font-size: calc(22px + 4vmin);
  margin: 0;
  font-family: "Josefin Slab", serif;
  color: white;
  text-shadow: 2px 2px #2f094c;
}

.subheader {
  font-size: calc(16px + 2vmin);
  margin: 0;
  font-family: "Josefin Slab", serif;
  color: white;
  text-shadow: 2px 2px #2f094c;
}
/*--------------footer---------*/

#footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid black;
  background-color: rgb(46, 45, 45);
}

#footer-text {
  font-size: 22px;
  padding: 15px 10px 5px 20px;
  line-height: 1.5;
}

.footer-link {
  display: block;
}

.name {
  margin : 5px;
  padding: 5px 5px 0 0;
  color: #ffff;
}

/*--------------About Me---------*/

.about-me {
  display: table;
  color: black;
}

.about {
  padding: 5px;
}

.box1 {
  vertical-align: middle;
  text-align: justify;
  padding:  20px;
  font-size: 20px;
  z-index: 1;
  position: relative;
}

.box2 {
  margin-top: -50px;
  padding-left: 5%;
  position: relative;
  z-index: 2;
  float: right;
}

.anna {
  border-radius: 50%;
  width: 150px;
  box-shadow: 5px 5px 5px #27192d;
  margin: 10px;
}

.title2 {
  padding: 30px 30px 30px 0px;
}

.group-logos {
  padding: 5px;
}

.logos {
  width: 75px;
  height: 105px;
  margin: 5px;
}

.list {
  padding: 5px;
}
.list-item {
  padding: 5px;
  list-style-type: circle;
  margin-left: 25px;
}
/*--------------My Work---------*/

.container2 {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  width: 100%;
  background-color: rgb(46, 45, 45);
}
.featured-work {
  font-size: calc(22px + 3vmin);
  color: rgb(46, 45, 45);
  background-color: rgb(255,255,255);
  padding: 20px;
}

.box {
  width: 45%;
  min-height: 150px;
  padding: 20px;
  margin: 20px;
}

.projects {
  box-shadow: 10px 10px 5px grey;
}

.project-names {
  color: black;
  text-align: center;
  font-size: calc(14px + 2vmin);
  padding: 15px;

}

.project-names:hover {
  color: #a3a375;
}

a {
    text-decoration: none !important;
  }

.theRunner
.matchingGame
.plovdiv
.pam
.myReads
.snail {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height:30%;
}

/*--------------Contact---------*/

.contact {
  margin: 20px;
}
.social {
  margin: 10px;
}

.social:hover {
  animation: nudge .4s linear;
  opacity: 0.5;
}


/*--------------Animation---------*/

@keyframes nudge {

  0% {
    transform: rotate(-5deg);
  }

  33% {
    transform: rotate(5deg);
  }

  66% {
    transform: rotate(-5deg);
  }
}

/*--------------Responsive---------*/

@media screen and (max-width: 570px) {

  .home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Images/2322.jpg');
  }

  .header {
  padding: 50px 10px 5px 10px;
  font-size: 38px;
}

  .work-btn {
  margin: 50px;
}
  .anna {
    display: block;
    border-radius: 50%;
    width: 90px;
    box-shadow: 5px 5px 5px #c0c3c6;
    margin: 10px;
  }

  .navigation {
    width: 110px;
    font-size: 20px;
  }

  #footer-text {
    font-size: 16px;
    padding: 10px 10px 5px 10px;
    line-height: 1;
    }

  .social {
    margin: 5px;
    }

  .box {
    width: 100%;
    padding: 5px;
    margin: 5px;
      }

  .projects {
    width: 250px;
    }

  .col-1 {
    padding-top: 130px;
    }

  .subheader {
    font-size: 20px;
    padding: 10px;
    }
  }

@media screen and (min-width: 571px) {
  .box {
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .projects {
    width: 250px;
    padding: 0px;
  }
}

@media screen and (min-width: 880px) {

  .box {
    width: 45%;
    min-height: 150px;
    padding: 20px;
    margin: 20px;
  }

  .projects {
    width: 300px;
    box-shadow: 10px 10px 5px grey;
  }
}
