@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");

* {
    box-sizing: border-box;
  }

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  font-family: "Josefin Slab", serif;
}

#menu {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #c0c3c6;
}
.nav {
  float: right;
  padding-right: 10px;
}
.fa {
  padding: 10px;
}

.navigation {
  padding-right: 10px;
  width: 150px;
  height: 60px;
  color: #4e5051;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}

.navigation:hover {
  color: #9ea4a8;
  }

.navigation:focus {
  outline: none;
}

.info {
  width: 100%;
  display: grid;
}

.logo {
  float: left;
  padding: 5px;
  width:75px;
  height: 60px;
}
.logo:hover {
  opacity: 0.8;
}

.home {
  background-image: url('./Images/blur.jpg');
  background-size: cover;
}

.col-1,
.col-2,
.col-3,
.col-4
 {
width:100%;
}

.col-1 {
}
.col-2 {
  padding: 70px;
}
.col-3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
/*--------------button view work---------*/

.myWork {
  background-color: #363638;
  text-decoration: none;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
  margin: 0px;
  border: 2px solid white;
}

.myWork:hover {
      animation: nudge .4s linear;
      color: #c3c3db;
      opacity: 0.8;
    }

a {
  color: inherit;
}

a:focus {
  outline: none;
}

.fa-angle-double-right {
  padding: 5px;
}
/*--------------hello text--------*/

.header {
  font-size: calc(58px + 6vmin);
  padding: 70px;
  margin: 0;
}
/*--------------footer---------*/

#footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #c0c3c6;
  background-color: #4e5051;
}

#heading {
  font-size: 22px;
  padding: 15px 10px 5px 20px;
  line-height: 1.5;
}

.name {
  margin : 5px;
  padding: 5px 5px 0 0;
  color: #ffff;
}

/*.App-logo {
  margin-top: 20px;
  padding: 5px;
  height: 60px;
  width: 75px;
  float: left;
}*/

/*--------------About Me---------*/
.aboutMe {
  display: flex;
  flex-wrap: wrap;
}

.about {
  padding: 5px;
}

.box1 {
  width: 80%;
  float:left;
  text-align: left;
  padding:  20px;
  font-size: 24px;
}

.box2 {
  width: 20%;
  float: right;
  padding-top: 110px;
  padding-left: 5%;
}

.anna {
  display: block;
  border-radius: 50%;
  width: 150px;
  box-shadow: 5px 5px 5px #c0c3c6;
}
/*--------------My Work---------*/

.container2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  width: 100%;
}
.featuredWork {
  font-size: calc(12px + 3vmin);
}

.box {
  width: 45%;
  min-height: 150px;
  padding: 20px;
  margin: 20px;
}

.projects {
  width: 400px;
  padding: 20px;
  box-shadow: 10px 10px 5px grey;
}

.projectNames {
  color: black;
  text-align: center;
  font-size: calc(12px + 2vmin);
}

.projectNames:hover {
  color: #a3a375;
}

a {
    text-decoration: none !important;
  }

.theRunner
.matchingGame
.plovdiv
.pam
.myReads
.snail {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height:30%;
}

/*--------------Contact---------*/

.contact {
  font-size: calc(10px + 4vmin);
  margin: 20px;
}
.social {
  margin: 10px;
}
.social:hover {
  animation: nudge .4s linear;
  opacity: 0.5;
}

@keyframes nudge {

  0% {
    transform: rotate(-5deg);
  }

  33% {
    transform: rotate(5deg);
  }

  66% {
    transform: rotate(-5deg);
  }
}
